crewai
langchain_groq
pydantic
python-dotenv
streamlit
pandas
pillow  # This handles image files
litellm
watchdog
fastapi
google-generativeai
reportlab
qrcode[pil]
svglib
reportlab==4.1.0
qrcode==7.4.2
Pillow
pyzbar==0.1.9
opencv-python-headless==4.9.0.80
svglib==1.5.1
pypdf
supabase
supabase
supabase
